<div class="grid grid-cols-4" *ngIf="propertyList$|async as listing">
  <div class="w-96 max-h-screen ">
   <div class="fixed z-10 w-96">
     <div class="bg-green-700 px-8 py-4 text-white">
       <div class="font-bold text-lg">{{listing.agentInfo.company}}</div>
       <div>{{listing.agentInfo.firstname}} {{listing.agentInfo.lastname}}</div>
     </div>
     <div class="bg-green-500">

     </div>
   </div>
    <div class="space-y-2 max-h-screen overflow-y-scroll bg-base-300 pt-24 px-2">
      <div class="mb-4">
        <input class="w-full input input-sm input-accent input-bordered" placeholder="Search..." type="search">
      </div>
      <div *ngFor="let property of listing.records" class="w-full bg-white card">
        <div class="flex justify-between items-center">
          <div class="pl-8">
            <div><span [ngClass]="{'fa-heart': property.favorite, 'fa-heart-o':!property.favorite}" class="fa"></span>  {{property.name}}</div>
            <div>{{property.streetAddress}}</div>
            <div class="text-sm text-gray-500">{{property.highValueAmenities.length}} high value amenities</div>
          </div>
          <div class="w-32">
            <img [src]="property.photo" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-span-3">
    <app-map></app-map>
  </div>
</div>
